---
layout: default
---
{% assign collection = (site.photos | where: 'gallery', page.slug | where: 'published', 1 | sort: 'order') %}
<div class="section section-page bg-dark" id="content">
  <div class="container">
    <h1>
      {% if page.heading %}<div>{{ page.heading }}</div>{% endif %}
      <div>{% if page.heading %}By {% endif %} {{ page.title }}</div>
      <small>Fishlove Collection - {{ page.year }}</small>
    </h1>
    {% if page.sponsors %}
    <div class="lead text-center">
      <p>In association with</p>
      <p>
        {% for item in page.sponsors %}
        <a href="{{ item.url }}" target="_blank" title="{{ item.name }}"><img src="{{ item.logo | prepend: site.cdn | replace: '0x0', '300x0' }}" alt="{{ item.name }}"></a>
        {% endfor %}
      </p>
    </div>
    {% endif %}
  </div>
  <div class="container-fluid">
    <ul class="gallery collection">
      {% for item in collection %}
      {% assign img_size = (item.image | img_size) %}
      {% assign img = (item.image | img_resize: 100,200) %}
      <li class="item {% if img_size[0] >= img_size[1] %}w2{% endif %}">
      <a href="{{ site.url }}{{ item.url }}" style="background-image:url({{ site.cdn | replace: '0x0', '0x500' }}{{ item.image }})">
        <h4 class="item-title">
          {% assign fish = (site.fish | where: 'slug', item.fish | first) %}
          <span>{{ item.title }}<br><small>{{ fish.title }}</small></span>
        </h4>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
