---
layout: default
---
{% assign collection = (site.photos | where: 'gallery', page.slug | where: 'published', 1 | sort: 'order') %}
<div class="section section-page bg-dark" id="content">
  <div class="container">
    <h1>
      {% if page.heading %}<div>{{ page.heading }}</div>{% endif %}
      <div>{% if page.heading %}By {% endif %} {{ page.title }}</div>
      <small>Fishlove Collection - {{ page.year }}</small>
    </h1>
    {% if page.sponsors %}
    <div class="lead text-center">
      <p>In association with</p>
      <p>
        {% for item in page.sponsors %}
        <a href="{{ item.url }}" target="_blank" title="{{ item.name }}">{{ item.logo | remove_first: '_media/' | img: "magick:resize:300" }}</a>
        {% endfor %}
      </p>
    </div>
    {% endif %}
  </div>
  <div class="container-fluid">
    <ul class="gallery collection">
      {% for item in collection %}
      {% capture image %}{% assign img = item.image | remove_first: '_media/' | img: "magick:resize:x500" | split: '"' %}{{ img[1] }}{% endcapture %}
      {% assign img = (item.image | remove_first: '_media/') %}
      <li class="item {% if assets[img].width >= assets[img].height %}w2{% endif %}">
      <a href="{{ site.url }}{{ item.url }}" style="background-image:url({{ image }})">
        <h4 class="item-title">
          {% assign fish = (site.fish | where: 'slug', item.fish | first) %}
          <span>{{ item.title }}<br><small>{{ fish.title }}</small></span>
        </h4>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
