---
layout: default
---
{% assign slides = (site.galleries | where: 'published', 1 | sort: 'order') %}
<div class="fh-sm" id="content">
  <div class="donslide fh-sm">
    {% for item in slides %}
    {% capture image %}{% assign img = item.image | remove_first: '_media/' | img: "magick:resize:1080x1080^ magick:crop:1080x1080+0+0" | split: '"' %}{{ img[1] }}{% endcapture %}
    <div class="item fh-sm" style="background-image: url({{ image }})">
      <div class="donslide-caption">
        <h3 class="donslide-header">
          {{ item.title }} <small>{{ item.year }}</small>
        </h3>
        <a class="donslide-btn" href="{{ site.url }}{{ item.url }}">
          View images<br class="hidden-xs">
          {% if item.sell_posters %}buy posters{% endif %}
        </a>
        <div class="donslide-text">{{ item.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="section bg-dark">
  <div class="container">
    <h1 class="section-header">Fishlove {{ page.title }}</h1>
    <div class="row">
      {% for item in slides %}
      {% assign items = (site.photos | where: 'published', 1 | where: 'gallery', item.slug) %}
      <div class="col-sm-1" style="min-width: {{ 100 | divided_by: slides.size }}%;">
        <h3>{{ item.title | markdownify | strip_html }}</h3>
        <p><a class="btn btn-sm btn-primary" data-toggle="tooltip" href="{{ site.url }}{{ item.url }}" title="View all {{ item.title }} portraits">View all</a></p>
        <ul class="list-unstyled">
        {% for item in items %}
          <li><a href="{{ site.url }}{{ item.url }}" data-toggle="popover" data-content='{{ item.image | remove_first: '_media/' | img: "magick:resize:200x75^" }}'>{{ item.title | markdownify | strip_html }}</a>
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
